<section id="title" class="hero-section" aria-labelledby="main-heading">
  <div class="row">
    <div class="col text-center">
      <h1 id="main-heading" class="mb-5">Crypto <span class="currency">Currency</span> Agency</h1>
      <p class="lead">Com mais de 10.000 clientes satisfeitos, somos líderes.</p>
      <p class="lead">Apoiamos investidores novatos nas criptomoedas.</p>
      <div class="btn-wrapper mt-4">
        <app-btn-get-started></app-btn-get-started>
      </div>
    </div>
  </div>
</section>
