# Auto detect text files and perform LF normalization
* text=auto

# TypeScript
*.ts text eol=lf
*.tsx text eol=lf

# HTML
*.html text eol=lf

# CSS/SCSS
*.css text eol=lf
*.scss text eol=lf

# JSON
*.json text eol=lf

# Markdown
*.md text eol=lf

# Shell scripts
*.sh text eol=lf

# Git
.gitattributes text eol=lf
.gitignore text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
