.card{
  color: white;
  border-color: #888;
}

#category{
  color: #888;;
}

#platform{
  color: #888;;
}

h3{
  margin-top: 30px;
}

#description{
  color: #888;
}

a{
  color: white;
  text-decoration: none;
}
