<section id="servicos" aria-label="Services section">
  <div class="row p-3">
    <div class="col">
      <h3>Nossos Serviços</h3>
    </div>
    <div class="col">
      <h5 class="text-end">
        <a href="javascript:void(0)" aria-label="Ver todos os serviços">Ver Todos</a>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let card of cards">
      <app-card
        [bgColor]="card.bgColor"
        [txtColor]="card.txtColor"
        [category]="card.category"
        [platform]="card.platform"
        [title]="card.title"
        [description]="card.description"
      ></app-card>
    </div>
  </div>
</section>
