<section aria-label="Services section">
  <div class="row p-3">
    <div class="col">
      <h3>Nossos Serviços</h3>
    </div>
    <div class="col">
      <h5 class="text-end">
        <a href="#todos-servicos" aria-label="Ver todos os serviços">Ver Todos</a>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-card
        [bgColor]="'black'"
        [txtColor]="'#888'"
        [category]="'CRYPTO'"
        [platform]="'Dashboard'"
        [title]="'Bitcoin'"
        [description]="'Bitcoin: pioneiro das criptomoedas, revolucionando finanças e tecnologia.'"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        [bgColor]="'#0d6efd'"
        [txtColor]="'white'"
        [category]="'CRYPTO'"
        [platform]="'Mobile App'"
        [title]="'Ethereum'"
        [description]="'O Ethereum: plataforma blockchain e criptomoeda Ether (ETH).'"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        [bgColor]="'black'"
        [txtColor]="'#888'"
        [category]="'CRYPTO'"
        [platform]="'Dashboard'"
        [title]="'Altcoin'"
        [description]="'Altcoins são criptomoedas alternativas ao Bitcoin, como Ethereum, Litecoin e Ripple.'"
      ></app-card>
    </div>
  </div>
</section>
