<article class="card" [style.background-color]="bgColor">
  <div class="card-body">
    <div class="row">
      <div class="col" id="category" [style.color]="txtColor">{{category}}</div>
      <div class="col text-end" id="platform" [style.color]="txtColor">{{platform}}</div>
    </div>
    <h3 class="card-title">{{title}}</h3>
    <p class="card-text" id="description" [style.color]="txtColor">{{description}}</p>
    <a href="#detalhes" [attr.aria-label]="'Ver mais sobre ' + title">Ver Mais <i class="bi bi-arrow-right" aria-hidden="true"></i></a>
  </div>
</article>
